---
// @ts-ignore
import { Picture } from "astro:assets";
import DaCrew from "../assets/bc2023/dacrew.png";
import JesseBenMike from "../assets/bc2023/JesseBenMike.png";
import GambleCrew from "../assets/bc2023/Gamble-MillsJesseBenMike.png";
import Sponsor from "../assets/bc2023/sponsor.png";
import MillsTableSetting from "../assets/bc2023/millstablesetting.png";
import MikeTeeShot from "../assets/bc2023/miketeeshot.png";
import KatyFoodPrep from "../assets/bc2023/katyfoodprep.png";
import GambleCarts from "../assets/bc2023/gamblecarts.png";
import Dinner from "../assets/bc2023/dinner.png";
import ChelanBenMike from "../assets/bc2023/chelanbenmike.png";
import DinnerBenMike from "../assets/bc2023/dinnerbenmike.png";
import BenTeeBox from "../assets/bc2023/benteebox.png";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    BuzzCup 2023 <span class="text-indigo-600">highlights</span>
  </h2>
</div>

<div class="grid md:grid-cols-3 lg:grid-cols-3 mt-16 gap-10">
  <Fragment slot="image">
    <Picture
      src={DaCrew}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <video controls width="550" autoplay loop muted>
      <source src="/millschip.webm" type="video/webm" />
    </video>
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={GambleCarts}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={JesseBenMike}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={KatyFoodPrep}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={ChelanBenMike}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={DinnerBenMike}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={MikeTeeShot}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={BenTeeBox}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Dinner}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={MillsTableSetting}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Sponsor}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={GambleCrew}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <video controls height="300" autoplay loop muted>
      <source src="/jesseteeshot.webm" type="video/webm" />
    </video>
  </Fragment>
 

</div>

