---
// @ts-ignore
import { Picture } from "astro:assets";
import DaCrew from "../assets/bc2024/2024players.png";
import BurgerTour from "../assets/bc2024/burgertour.jpeg";
import BurgerTour2 from "../assets/bc2024/burgertour2.png";
import CactusWins from "../assets/bc2024/cactuswins.jpeg";
import FinalRound from "../assets/bc2024/finalround.jpeg";
import FinalRound2 from "../assets/bc2024/finalround2.jpeg";
import Founders from "../assets/bc2024/founders.png";
import GloveLove from "../assets/bc2024/glovelove.jpeg";
import GoodMorning from "../assets/bc2024/goodmorning.png";
import Dorado from "../assets/bc2024/openinground.jpeg";
import Dorado2 from "../assets/bc2024/openinground2.jpeg";
import KovChug from "../assets/bc2024/priorchampchug.jpeg";
import BenChug from "../assets/bc2024/benchug.jpeg";
import Prep from "../assets/bc2024/trophyprep.jpeg";
import Ventana from "../assets/bc2024/ventanaday.jpeg";
import VentanaJesse from "../assets/bc2024/ventanajesse.jpeg";
import VentanaKovner from "../assets/bc2024/ventanakovner.jpeg";
import VentanaPhotobomb from "../assets/bc2024/ventanaphotobomb.jpeg";
import Warmup from "../assets/bc2024/warmupround.jpeg";
---

<div class="mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    BuzzCup 2024 <span class="text-indigo-600">highlights</span>
  </h2>
</div>

<div class="grid md:grid-cols-3 lg:grid-cols-4 mt-8 gap-6">
  <Fragment slot="image">
    <Picture
      src={Prep}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Warmup}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Dorado}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Dorado2}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Founders}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={DaCrew}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={BurgerTour}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={BurgerTour2}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={CactusWins}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={FinalRound}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={FinalRound2}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-full w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  
  <Fragment slot="image">
    <Picture
      src={GloveLove}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={GoodMorning}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  
  <Fragment slot="image">
    <Picture
      src={KovChug}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={BenChug}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={Ventana}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={VentanaJesse}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={VentanaKovner}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
  <Fragment slot="image">
    <Picture
      src={VentanaPhotobomb}
      alt="Feature image"
      formats={["avif", "webp"]}
      class="h-[300px] w-full object-contain"
      loading="lazy"
    />
  </Fragment>
</div>

